.rm-modal {
  .modal-content {
    color: $white;
    background-color: $rm-orange;
    border: 5px solid $rm-orange;
    border-radius: 0;
    .modal-header {
      width: 100%;
      border-bottom: none;
      position: absolute;
      z-index: 2;
      .close {
        font-size: 2.5rem;
        color: $white;
        text-shadow: none;
        opacity: 1;
        position: relative;
        right: 0;
      }
    }
    .modal-body {
      padding: 4rem;
      font-size: 2rem;
    }
  }
}
