$font-regular: 400 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
$ff-brand: 'Montserrat', sans-serif !default;
// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------
// Montserrat
// - Regular (400)
// - SemiBold (600)
// - Bold (700)

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
