.rm-count {
  margin-bottom: 40px;
  .h3 {
    font-size: 1rem;
    position: relative;
    top: 20px;
  }
  span {
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    @media (min-width: 575px) {
      font-size: 5rem;
      text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
    }
  }
}
