.rm-container {
  margin-bottom: 80px;
  .rm-btn {
    margin-bottom: 20px;
  }
  @media (min-width: 576px) {
    .rm-btn {
      margin-bottom: 0;
    }
    .pl {
      float: left;
    }
    .pr {
      float: right;
    }
  }
}
